@inherits Modulebase
@namespace Mihcelle.Hwavmvid.Modules.Databasesettings

@using Mihcelle.Hwavmvid.Shared.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Authorization
@using Mihcelle.Hwavmvid.Providers

@inject IHttpClientFactory ihttpclientfactory
@inject Applicationprovider applicationprovider
@inject Applicationbackendprovider applicationbackendprovider

<AuthorizeView>
    <Authorized>

        <div class="container">
            <div class="row align-items-center my-2">

                <div class="col-lg-12">
                    <div class="p-1 bg-light">

                        @if (this.tenant != null)
                        {
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="tenant">Database connection</span>
                                <input type="text" class="form-control" placeholder="@this.tenant.Databaseconnectionstring" aria-label="Tenant" aria-describedby="tenant">
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>

    </Authorized>
</AuthorizeView>


@code {


    [Parameter] public Moduleservice<Modulepreferences> Moduleparams { get; set; }

    public Applicationtenant? tenant { get; set; }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            this.tenant = await this.applicationdbcontextmihcellehwavmvid.Applicationtenants.Where(item => item.Siteid == this.applicationbackendprovider._contextsite.Id).FirstOrDefaultAsync();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.Message);
        }

        await base.OnInitializedAsync();
    }

}
